POSTGRES_DB="invoicerr"
POSTGRES_USER="invoicerr_user"
POSTGRES_PASSWORD="password"
DATABASE_URL="postgresql://invoicerr_user:password@localhost:5432/invoicerr"

# Frontend URL - Used for email verification links and redirects
FRONTEND_URL="http://localhost:3000" # Change this to your frontend URL in production

# Backend/API URL - Used for CORS and OIDC callbacks
APP_URL="https://invoicerr.chevrier.dev" # Change this to your backend URL in production

# SMTP Configuration
# For Gmail, use: smtp.gmail.com, port 587, and an App Password
SMTP_HOST="smtp.gmail.com" # Change this to your SMTP host
SMTP_USER="info@transferrocket.co.uk" # Change this to your SMTP user
SMTP_FROM="info@transferrocket.co.uk" # Change this to your email address (not required if SMTP_USER is the same)
SMTP_PASSWORD="xyjk cbpy xrsb qdpc" # Change this to your SMTP password (use App Password for Gmail)
SMTP_PORT=587 # Change this to your SMTP port (default is 587 for TLS)
SMTP_SECURE=false # Set to true if your SMTP server requires a secure connection (default is false)

# Location API (optional - for fetching cities/states)
# Get free API key from https://www.countrystatecity.in/
COUNTRY_STATE_CITY_API_KEY="your-api-key-here"


# OIDC Configuration (example for Authentik)
OIDC_ISSUER="https://auth.chevrier.dev"

# Endpoints for OIDC
OIDC_AUTHORIZATION_ENDPOINT="https://auth.chevrier.dev/authorize"
OIDC_TOKEN_ENDPOINT="https://auth.chevrier.dev/token"
OIDC_USERINFO_ENDPOINT="https://auth.chevrier.dev/userinfo"
OIDC_TOKEN_REVOKE_ENDPOINT="https://auth.chevrier.dev/revoke"
OIDC_END_SESSION_ENDPOINT="https://auth.chevrier.dev/end_session"
OIDC_JWKS_URI="https://auth.chevrier.dev/.well-known/jwks.json"

# Callback URL for OIDC
OIDC_CALLBACK_URL="https://invoicerr.chevrier.dev/api/auth/callback"

# Client ID and Secret for OIDC
OIDC_CLIENT_ID="your-client-id"
OIDC_CLIENT_SECRET="your-client-secret"


